.image_container {
  display: flex;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;

  &__drawed {
    filter: grayscale(100%)
  }

  img {
    border-radius: 50%;
  }
}

.image_container:hover {
  filter: opacity(80%)
}