.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 45%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 3;
  color: #000;

  &__main {
    display: flex;
    flex-direction: column;
    position: fixed;
    background: white;
    width: auto;
    min-width: 35%;
    height: auto;
    top: 20%;
    left: 48%;
    transform: translate(-50%, -50%);
    padding: 50px 0 20px;
    border-radius: 20px;

    &_container {
      display: flex;
      flex-direction: column;
    }

    &_buttons_container {
      display: flex;
      justify-content: space-evenly;
    }

    &_cancel_button,
    &_confirm_button {
      border: 1px solid;
      padding: 10px;
      min-width: 45%;
      border-radius: 20px;
      cursor: pointer;
    }

    &_cancel_button {
      background: rgba(153, 0, 0);
    }

    &_cancel_button:hover {
      background: rgba(153, 0, 0, 0.8);
    }

    &_confirm_button {
      background: rgba(0, 128, 0);
    }

    &_confirm_button:hover {
      background: rgba(0, 128, 0, 0.8);
    }

    &_title {
      text-align: center;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: bold;
    }

    &_text {
      text-align: center;
      font-size: 15px;
      margin: 18px 0 15px;
    }
  }
}

.display_none {
  display: none;
}

.display_block {
  display: block;
}
