.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dropdown {
  &__container {
    display: flex;
    height: 100%;
    flex: 4%;
  }

  &__squads {
    display: flex;
  }
}

.drawn {
  &__container {
    display: flex;
    margin: 30px;
    flex: 96%;
    justify-content: center;
    align-items: center;
  }

  &__users {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__button_container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  &__button {
    width: 100px;
    height: 60px;
  }

  &__name {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }
}

.user {
  display: flex;
  margin: 8px 0;
  justify-content: space-between;
  align-items: center;

  &__name {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }

  &__delete_button {
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
    background: rgba(153, 0, 0);
    margin-right: 1rem;
    display: flex;
    align-self: center;
  }
}

.link {
  color: #46AFB9;
}

.gravatar {
  &__modal_body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    a {
      color: #6A22FF;
      text-decoration: underline;
      margin-bottom: 10px;
    }

    input {
      width: 75%;
      height: 50px;
      border-radius: 20px;
      padding: 0 30px;
      margin-bottom: 20px;
    }
  }
}

.nav {
  &__container {
    display: flex;
    border-bottom: 1px solid #fff;
  }

  &__tabs {
    display: flex;
    padding: 10px 20px;
    margin: 0 5px;
    border: 1px solid #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
  }

  &__active {
    background: #fff;
    color: #000;
  }

  &__new_tab_container {
    display: flex;
    margin-left: 5px;

    &_button {
      display: flex;
      align-items: center;
      border: 1px solid #fff;
      padding: 0 10px;
      border-top-right-radius: 10px;
      background: rgba(0, 128, 0);
      cursor: pointer;

      &:hover {
        background: rgba(0, 128, 0, 0.8);
      }
    }

    &_input {
      display: flex;
      border: 1px solid #fff;
      border-top-left-radius: 10px;
      outline: none;
    }
  }
}