.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dropdown_container {
  display: flex;
  height: 100%;
  flex: 4%;
}

.dropdown_squads {
  display: flex;
}

.drawn_container {
  display: flex;
  margin: 30px;
  flex: 96%;
  justify-content: center;
  align-items: center;
}

.drawn_users {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.drawn_button_container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.drawn_button {
  width: 100px;
  height: 60px;
}

.drawn_name {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.user {
  display: flex;
  margin: 8px 0;
}

.link {
  color: #46AFB9;
}

.user_delete_button {
  cursor: pointer;
  border: 1px solid;
  border-radius: 5px;
  background: rgba(153, 0, 0);
  margin-right: 1rem;
}
